modules = ["nodejs-24"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[deployment]
deploymentTarget = "cloudrun"

[userenv]

[userenv.shared]
FIREBASE_API_KEY = "AIzaSyBerRYzu1EZ5U4CJBHsRl48a8RL2t9opw0"
FIREBASE_AUTH_DOMAIN = "trade-abhyaas.firebaseapp.com"
FIREBASE_DATABASE_URL = "[https://trade-abhyaas-default-rtdb.firebaseio.com](https://trade-abhyaas-default-rtdb.firebaseio.com)"
FIREBASE_PROJECT_ID = "trade-abhyaas"
